data
out
src/projeto_LP2_AED2/Main.class

src/projeto_LP2_AED2/Main.java
*.xml
*.class
.idea/workspace.xml
src/projeto_LP2_AED2/Main.java
src/projeto_LP2_AED2/Main.java
src/projeto_LP2_AED2/Main.java
